<h2>Edit preferences</h2>

<div id="gallery">
 <% form_for @user do |f| %>
  <%= f.error_messages %>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td><%= f.label :username %></td>
    <td><%= h @user.username %></td>
   </tr>
   <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email, :size => nil %></td>
   </tr>
   <tr>
    <td colspan="2"><%= f.submit "Update" %></td>
   </tr>
  </table>
 <% end %>

 <hr/>

 <% form_for :user, @user, :url => { :action => "update_flickr_info_1" } do |f| %>
  <%= f.submit "Verify flickr account" %>
  <br/>
  <small>Note: clicking this button will redirect your browser to flickr's site to verify your
   flickr account and to give yoyocase.net permission to read from your flickr account.<br/><br/>
   Note 2: If the following is filled in, you have successfully verified your flickr account,
   and unless your flickr account has changed, you don't need to re-verify it:<br/>
   user_id: <%= @user.flickr_userid %>
  </small>
 <% end %>

 <br/><br/>
 <input type="button" value="Cancel" onclick="document.location.href='<%= account_url %>'"/>
</div>

<div id="sidebar">
</div>

<div class="clearing"></div>
