<h2>Register for an account</h2>

<div id="gallery">
 <% form_for @user do |f| %>
  <%= f.error_messages %>

  <table border="0" cellpadding="0" cellspacing="0" width="50%" align="center">
   <tr>
    <td><%= f.label :username %></td>
    <td><%= f.text_field :username, :size => nil %></td>
   </tr>
   <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, :size => nil %></td>
   </tr>
   <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email, :size => nil %></td>
   </tr>
   <tr>
    <td colspan="2"><%= f.submit "Register" %></td>
   </tr>
  </table>
 <% end %>
</div>

<div id="sidebar">
 <p><b>yoyocase.net facts:</b></p>
 <ul>
  <li><%= User.count %> accounts total</li>
 </ul>

 <br/>

 <p><b>Problems registering?</b></p>
 <ul>
  <li>All fields are required</li>
  <!-- TODO: more help -->
 </ul>
</div>

<div class="clearing"></div>
