<% form_for @yoyo do |f| %>
 <%= f.error_messages %>

 <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
   <td><%= f.label :manufacturer %></td>
   <td><%= f.text_field :manufacturer, :size => nil %></td>
  </tr>
  <tr>
   <td><%= f.label :country %></td>
   <td><%= f.text_field :country, :size => nil %></td>
  </tr>
  <tr>
   <td><%= f.label :model_year %></td>
   <td><%= f.text_field :model_year, :size => 4, :maxlength => 4 %></td>
  </tr>
  <tr>
   <td><%= f.label :model_name %></td>
   <td><%= f.text_field :model_name, :size => nil %></td>
  </tr>
  <tr><td colspan="2"><hr/></td></tr>
  <tr>
   <td colspan="2">
<% if current_user.flickr_userid %>

    <label>Link photos tagged "yoyocase" from your flickr account?</label>
    <br/>
    <br/>
    <table width="100%" border="0" cellpadding="3" cellspacing="0">
     <tr>
     <% i = 0; user_flickr_photos.each do |photo| %>
      <td align="center">
       <input type="checkbox" onclick="toggleYoyoPhoto(this)"/> <%= photo.title %><br/>
       <img src="<%= photo.url(:thumbnail) %>" alt="<%= photo.url(:medium) %>"/>
      </td>
      <% i = i + 1; if i.modulo(3) == 0 %>
     </tr><tr>
      <% end %>
     <% end %>
    </table>

<script type="text/javascript">
function toggleYoyoPhoto(checkbox) {
  if (checkbox.checked) {
    var image = checkbox.parentNode.children[2];
    alert('TODO: save "' + image.alt + '" as YoyoPhoto');
  }
}
</script>

<% else %>
    <p>Photo uploads are not yet implemented at <tt>yoyocase.net</tt>. However, if you have a flickr
     account, you can link photos from there to here.</p>
    <p>First, click "Save" on this screen. Then go to your account "preferences" screen and click
     "Verify flickr account" and follow the prompts.</p>
<% end %>
   </td>
  </tr>
 </table>

 <div class="submit">
  <%= f.submit "Save" %>
  <input type="button" value="Cancel" onclick="document.location.href='<%= cancel_url %>'"/>
 </div>

<% end %>
