<% form_for @yoyo do |f| %>
 <%= f.error_messages %>

 <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
   <td><%= f.label :manufacturer %></td>
   <td><%= f.text_field :manufacturer, :size => nil %></td>
  </tr>
  <tr>
   <td><%= f.label :country %></td>
   <td><%= f.text_field :country, :size => nil %></td>
  </tr>
  <tr>
   <td><%= f.label :model_year %></td>
   <td><%= f.text_field :model_year, :size => 4 %></td>
  </tr>
  <tr>
   <td><%= f.label :model_name %></td>
   <td><%= f.text_field :model_name, :size => nil %></td>
  </tr>
  <tr>
   <td colspan="2"><%= f.submit "Save" %></td>
  </tr>
 </table>

<% end %>
