<% form_for @yoyo do |f| %>
 <%= f.error_messages %>

 <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
   <td><%= f.label :manufacturer %></td>
   <td><%= f.text_field :manufacturer, :size => nil %></td>
  </tr>
  <tr>
   <td><%= f.label :country %></td>
   <td><%= f.text_field :country, :size => nil %></td>
  </tr>
  <tr>
   <td><%= f.label :model_year %></td>
   <td><%= f.text_field :model_year, :size => 4, :maxlength => 4 %></td>
  </tr>
  <tr>
   <td><%= f.label :model_name %></td>
   <td><%= f.text_field :model_name, :size => nil %></td>
  </tr>
  <tr><td colspan="2"><hr/></td></tr>
  <tr>
   <td colspan="2">
    <label>Pic 1</label><a href="#">Import from flickr</a><br/>
    <label>Pic 2</label><a href="#">Import from flickr</a><br/>
    <label>Pic 3</label><a href="#">Import from flickr</a><br/>
    <a href="#">More pics...</a>
<!--
    <label>Import pictures from flickr?</label>
    <br/>
    <table border="0" cellpadding="3" cellspacing="0">
     <tr>
     <% i = 0; user_flickr_photos.each do |photo| %>
      <td align="center">
       <input type="checkbox"/> <%= photo.title %><br/>
       <img src="<%= photo.url(:thumbnail) %>"/>
      </td>
      <% i = i + 1; if i.modulo(3) == 0 %>
     </tr><tr>
      <% end %>
     <% end %>
    </table>
-->
   </td>
  </tr>
 </table>

 <div class="submit"><%= f.submit "Save" %></div>

<% end %>
