<h2>Edit "<%= h @yoyo.model_year %> <%= h @yoyo.manufacturer %> <%= h @yoyo.model_name %>"</h2>

<div id="gallery">
 <%= render :partial => "form", :locals => {:cancel_url => yoyo_path(@yoyo)} %>
</div>

<div id="sidebar">
 <%= render :partial => "sidebar" %>
</div>

<div class="clearing"></div>
