<h2>Your collection</h2>

<div style="display:none"><!-- HACK: preload iamges -->
 <img src="/images/icon_unknown.png" alt=""/>
 <img src="/iamges/icon_unknown_highlight.png" alt=""/>
</div>

<div id="gallery">
<% if current_user.yoyos.empty? %>
 <p>You don't have any yoyos in your collection.</p>
 <p><%= link_to "Add one?", new_yoyo_url %></p>
<% else %>
 <ul id="collectionList">
 <% current_user.yoyos.each do |yoyo| %>
  <li>
   <a href="<%= url_for yoyo_url(yoyo) %>">
   <% if yoyo.first_photo.nil? %>
    <img src="/images/icon_unknown.png" alt=""/>
   <% else %>
    <img src="/images/cornerOverlay.gif" alt=""
         style="background: #aeaeae url(<%= yoyo.first_photo %>) 45% 45% no-repeat"/>
   <% end %>
   </a>
   <br/>
   <%= link_to h("#{yoyo.model_year} #{yoyo.manufacturer} #{yoyo.model_name}"), yoyo_url(yoyo) %>
  </li>
 <% end %>

 <li>
  <a href="<%= url_for new_yoyo_url %>">
   <img src="/images/icon_unknown.png" alt="" onmouseover="this.src='/images/icon_unknown_highlight.png'" onmouseout="this.src='/images/icon_unknown.png'"/>
  </a>
  <br/>
  <%= link_to "Add another?", new_yoyo_url %>
 </li>
 </ul>
<% end %>
</div>

<div id="sidebar">
 <%= render :partial => "sidebar" %>
</div>

<div class="clearing"></div>
