<h2><%= h @yoyo.manufacturer %> <%= h @yoyo.model_name %> (<%= h @yoyo.model_year %>)</h2>

<div id="gallery">
 <%= render :partial => "view" %>

 <%= link_to "edit", edit_yoyo_path(@yoyo) %>
 <%= link_to "back to collection", yoyos_url %>
</div>

<div id="sidebar">
 <%= render :partial => "sidebar" %>
</div>

<div class="clearing"></div>
