<h2><%= @yoyo.manufacturer %> <%= @yoyo.model_name %> (<%= @yoyo.model_year %>)</h2>

<%= link_to "back to collection", yoyos_url %>

<table border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
  <td><label>Manufacturer</label></td>
  <td><%= @yoyo.manufacturer %></td>
 </tr>
 <tr>
  <td><label>Model year</label></td>
  <td><%= @yoyo.model_year %></td>
 </tr>
 <tr>
  <td><label>Model name</label></td>
  <td><%= @yoyo.model_name %></td>
 </tr>
</table>
