<h2><%= h @yoyo.model_year %> <%= h @yoyo.manufacturer %> <%= h @yoyo.model_name %></h2>

<div id="gallery">
 <%= render :partial => "view" %>

 <br/>
 <form method="GET" action="<%= edit_yoyo_path(@yoyo) %>">
  <input type="submit" value="Edit"/>
  <input type="button" value="Back to collection" onclick="document.location.href='<%= yoyos_url %>'"/>
 </form>
</div>

<div id="sidebar">
 <%= render :partial => "sidebar" %>
</div>

<div class="clearing"></div>
