<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>yoyocase.net</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
<div id="container">

<div id="header">
<% if current_user %>
 <h1><%= link_to "yoyocase.net", account_url %></h1>
<% else %>
 <h1><%= link_to "yoyocase.net", root_url %></h1>
<% end %>
</div>

<div id="nav">
 <ul class="rounded">
 <% if current_user %>
  <li><%= link_to "collection", yoyos_path %></li>
  <li><%= link_to "preferences", edit_user_path(current_user) %></li>
  <li><%= link_to "logout", logout_url %></li>
 <% else %>
  <li><%= link_to "register", register_url %></li>
  <li><%= link_to "login", login_url %></li>
 <% end %>
 </ul>
</div>

<div id="content">

 <% if flash[:err] %>
  <div class="err"><%= flash[:err] %></div>
 <% end %>

 <% if flash[:msg] %>
  <div class="msg"><%= flash[:msg] %></div>
 <% end %>

 <%= yield %>

</div><!-- /#content -->

<div id="footer">
 Copyright &copy; 2009, 2010, Dan Parks. All Rights Reserved.<br/>
 User submissions copyright the submitter. Other content derived from Creative Commons-licensed material.<br/>
 <br/>
 <%= link_to "Credits", credits_url %> | <%= link_to "Privacy", privacy_url %>
</div>

</div><!-- /#container -->

</body>
</html>
